<config>
	<google>
		<clientSecrets>config/secret/client_secret_983674724993-8ls79amnjj0rdc9imvua823forvv35pl.apps.googleusercontent.com.json</clientSecrets>
		<credentialStore>config/secret/calendar.json</credentialStore>
	</google>

	<pbo>http://competitie.badminton-pbo.be/api/calendarSync</pbo>
	<pboCompetitionId>0131343E-0198-48F4-A75B-4995C6B9095F</pboCompetitionId>
	<sleepTimeToAvoidGoogleRateLimitMs>1000</sleepTimeToAvoidGoogleRateLimitMs>
</config>
