<config>
	<google>
		<clientSecrets>config/secret/client_secret_983674724993-8ls79amnjj0rdc9imvua823forvv35pl.apps.googleusercontent.com.json</clientSecrets>
		<credentialStore>config/secret/calendar.json</credentialStore>
	</google>

	<pbo>http://competitie.badminton-pbo.be/api/calendarSync</pbo>
	<pboCompetitionId>F77C0BDF-25D4-4822-92BD-1078E58EEDC8</pboCompetitionId>
</config>
